---
import "../styles/marquee.css";

const commanders = [
  {
    name: "REVA UNIVERSITY",
    rank: "STATIC FIRE",
    logo: "./sponsor-logo/logo.png",
  },
];

const crew = [
  {
    name: "REVA UNIVERSITY",
    rank: "STATIC FIRE",
    logo: "./sponsor-logo/logo.png",
  },
];
---

<div class="marquee-wrapper">
  <div class="marquee-container">
    <div class="marquee-content left">
      {
        [...commanders, ...commanders].map((s) => (
          <div class="sponsor-tag glass rank-high">
            <div class="sponsor-brand">
              <img src={s.logo} alt={s.name} class="sponsor-logo" />
              <div class="sponsor-info">
                <span class="rank-label">{s.rank}</span>
                <span class="sponsor-name">{s.name}</span>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>

  <div class="marquee-container">
    <div class="marquee-content right">
      {
        [...crew, ...crew].map((s) => (
          <div class="sponsor-tag glass">
            <div class="sponsor-brand">
              <img src={s.logo} alt={s.name} class="sponsor-logo" />
              <div class="sponsor-info">
                <span class="rank-label">{s.rank}</span>
                <span class="sponsor-name">{s.name}</span>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>
